<!DOCTYPE html>
<html th:replace="~{base/base :: layout (~{:: main})}">
<main>
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
		    <h1> Dashboard</h1>	   	   
		</div>

		<div class="container" style="color: #0B2161;" align="center">
		    <h1> Biblioteca <img src="./img/logo2.ico"></h1>	   	 
		    <h2>Livros & Fundamentos</h2>  
		</div>
		<br>
		
		<section>
		<div class="container">
			<div class="card">
				<h5 class="card-header">Seja bem-vindo</h5>
			</div>
		</div> 
		</section>
	
	</main>

</html>